body {
    font-family: arial, sans-serif;
    font-size: small;
    margin:0;
    padding:0;
    height:100%;
}

.google-search
{
    padding: 8px 173px;
}
.google-search: focus
{
    box-shadow:silver 0 2px 10px; 
    border-color: silver;
}
.google-form
{
    margin: auto;
}
.google-form .btn-group
{
    padding: 20px 0;
}
.btn-group>.btn
{
    border-radius: 0;
    margin: 0 10px;
}
.btn
{
    background-color: #f2f2f2;
    color: #757575;
    font-weight: 900;
} 


.footers{
    width: 100px;
}

.footers > a {
    display: block;
    margin: 0 auto;
}



#one {
    color: #4285f4;
    font-size: 550%;
    font-weight: bold;
}
#two {
    color: #d62d20;
    font-size: large;
    font-weight: bold;
}
#three {
    color: #ffa700;
    font-size: large;
    font-weight: bold;
}
#four {
    color: #4285f4;
    font-size: large;
    font-weight: bold;
}
#five {
    color: #008744;
    font-size: large;
    font-weight: bold;
}
#six {
    color: #d62d20;
    font-size: large;
    font-weight: bold;
}


#but1 {
    background color:"#4285F4";
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
