html, body {
    height: 100%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

body {
    font-family: arial, sans-serif;
    font-size: small;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}
.container .row {
    text-align: center;
    margin: auto;
}
.header {
    height: 90px;
}
.container .logo {
    margin-top: 100px;
}
.text-left {
    float: left;
}
.text-right {
    float: right;
}

.google-search {
    padding: 8px 173px;
    resize: horizontal;
    width: 250px;
}

input:active {
    width: auto;   
}

input:focus {
    min-width: 200px;
}

.google-form {
    margin: auto;
}

.form-control {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.google-form .btn-group {
    padding: 20px 0;
}

.btn-group>.btn {
    border-radius: 0;
    margin: 0 10px;
}

.btn {
    background-color: #f2f2f2;
    color: #757575;
    font-weight: 900;
    font: bold 14px Arial sans-serif;
    text-decoration: none;
    padding: 12px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;

} 

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 40px;
}

.footer {
    background-color: #f2f2f2;
}

.footers {
    width: 100px;
}

.footer > a {
    display: block;
    margin: 0 auto;
}

.footer a {
    margin: 0 auto;
    padding: 10px;
    color: #222;
}

.header a {
    margin: 0 auto;
    padding: 10px;
    color: #222;
}

.logo span {
    font-size: 100px;
}

#one {
    color: #4285f4;
}
#two {
    color: #d62d20;
}
#three {
    color: #ffa700;
}
#four {
    color: #4285f4;
}
#five {
    color: #008744;
}
#six {
    color: #d62d20;
}

#but1 {
    background-color: #4285f4;
    border: none;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}